
mixin modal() 
	//  start modals

	#modalThanks.modal.fade(tabindex='-1' aria-labelledby='modalThanksLabel' aria-hidden='true')
		.modal-dialog
			.modal-content 
				button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				.modal-body.text-center
					br
					br
					br
					img.mb-2(src="img/check.svg", alt="")
					.h4 Успешно! 

	#modalM.modal.fade(tabindex='-1' aria-labelledby='modalMLabel' aria-hidden='true')
		.modal-dialog
			.modal-content
				button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				.modal-body.text-center
					br
					br
					br
					img.mb-2(src="img/block_black.svg", alt="")
					.h4 Ошибка!
	// end modals