extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= '08-settings'
	title= title
block pagecontent


	//- +mob-mnu()
	+header('Настройки')
	.main-block
		.container-fluid
			form.bg-white.p-5
				.col-xl-7
					.mb-5
						h5.fw-normal.mb-3 Сообщения в чат-боте
						p Приветственное сообщение:
						+input("",'textarea')
					 
						p Сообщение о бронировании:
						+input("",'textarea')
					 
					button.btn.btn-primary.w-300(type="button") Сохранить изменения

