mixin header(menu)
	header.header.bg-white.border-bottom
		nav.navbar.navbar-light.navbar-expand-xl.border-bottom
			.container-fluid
				a.navbar-brand(href='#').order-xl-first
					img.d-inline-block.align-text-top(src='img/svg/logo.svg' alt='' width='198' height='40')
				button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarNav.collapse.navbar-collapse.order-xl-first
					+b.cabinet-btn(href="#").text-body.order-xl-last.ms-auto
						+e.img-wrap
							img(src="img/avatar.png", alt="")
						div  Перчини на Революционной
							.text-secondary ID43534
					ul.navbar-nav
						li.nav-item
							a.nav-link.active(aria-current='page' href='#') Заказы
						mixin a(a)
							li.nav-item: a.nav-link(href='#')= a
						+a('Меню')
						+a('Акции')
						+a('Клиенты')
						+a('Бонусы')
						+a('Доставка')
						+a('Аналитика')
						+a('Настройки')
						+a('Поддержка')
		if menu=="menu" 
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand Блюда ресторана (435) 
					#navbarNav2.collapse.navbar-collapse
						form.row
							.col-auto
								button.btn.btn-light(type="button") Разделы меню
							.col-auto
								button.btn.btn-primary(type="button") Добавить товар
							.col
								 
								.input-group
									input.form-control(type='text' placeholder="Поиск по товарам" aria-label="Поиск по товарам" aria-describedby='button-addon2')
									button#button-addon2.btn.btn-primary(type='button') Найти
		else if menu=="promo" 
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand Акции ресторана (1)
					#navbarNav2.collapse.navbar-collapse
						form.row 
							.col-auto
								button.btn.btn-primary(type="button") Добавить акцию
							.col
								 
								.input-group
									input.form-control(type='text' placeholder="Поиск по акциям" aria-label="Поиск по акциям" aria-describedby='button-addon2')
									button#button-addon2.btn.btn-primary(type='button') Найти
		else if menu=="clients" 
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand Клиенты ресторана (987)
					#navbarNav2.collapse.navbar-collapse
						form.row 
							.col-auto
								button.btn.btn-primary(type="button") Отправить сообщение
							.col
								 
								.input-group
									input.form-control(type='text' placeholder="Поиск по клиентам" aria-label="Поиск по клиентам" aria-describedby='button-addon2')
									button#button-addon2.btn.btn-primary(type='button') Найти
		else if menu
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand= menu
		else
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand Все заказы (55) 
					#navbarNav2.collapse.navbar-collapse
						ul.navbar-nav.navbar-nav--color
							li.nav-item
								a.nav-link.active(aria-current='page' href='#') Все
							mixin a(a, c)
								li.nav-item: a.nav-link(href='#' style=`--color: var(${c})`)= a
							+a('Новый','--bs-danger')
							+a('Принят','--bs-warning')
							+a('В пути','--bs-primary')
							+a('Доставлен','--bs-success')
							+a('Архив','--bs-secondary')