mixin header(menu)
	header.header.bg-white.border-bottom
		nav.navbar.navbar-light.navbar-expand-xl.border-bottom
			.container-fluid
				a.navbar-brand(href='#').order-xl-first
					img.d-inline-block.align-text-top(src='img/svg/logo.svg' alt='' width='198' height='40')
				button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarNav.collapse.navbar-collapse.order-xl-first
					+b.cabinet-btn(href="#").text-body.order-xl-last.ms-auto
						+e.img-wrap
							img(src="img/avatar.png", alt="")
						div  Перчини на Революционной
							.text-secondary ID43534
					ul.navbar-nav
						li.nav-item
							a.nav-link.active(aria-current='page' href='#') Заказы
						mixin a(a)
							li.nav-item: a.nav-link(href='#')= a
						+a('Меню')
						+a('Акции')
						+a('Клиенты')
						+a('Бонусы')
						+a('Доставка')
						+a('Аналитика')
						+a('Настройки')
						+a('Поддержка')
		if menu=="menu" 
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand Блюда ресторана (435) 
					#navbarNav2.collapse.navbar-collapse
						form.row
							.col-auto
								button.btn.btn-light(type="button"  data-bs-toggle="offcanvas"   data-bs-scroll="true" data-bs-target=`#offcanvasExample-add-menu` aria-controls=`offcanvasExample-add-menu`) Разделы меню

								.offcanvas.offcanvas-start(id=`offcanvasExample-add-menu`  data-bs-scroll="true" tabindex='-1' aria-labelledby=`offcanvasExample-add-menu-Label`).text-start
									.offcanvas-header
										h4.offcanvas-title(id=`offcanvasExample-add-menu-Label`) Категории меню
										button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
									.offcanvas-body
										table.table 
											tr: td.strong Все
											mixin tr(t)
												tr: td
													.input-group
														input.form-control.form-control-sm(type='text' value= t )
														button.btn.btn-outline-danger.btn-sm(type='button'  aria-label='Close' data-bs-toggle="modal" data-bs-target="#exampleModaldel")
															+icon("delete")
													
											+tr("Суши")
											+tr("Сеты")
											+tr("Роллы")
											+tr("Сашими")
											+tr("Салаты")
											+tr("Супы")
											+tr("Горячее")
											+tr("Поке")
											+tr("Пицца")
											+tr("Бенто-обеды")
											+tr("Напитки")
										button.btn.btn-primary.ms-3(type="button" data-bs-toggle="modal" data-bs-target="#exampleModal") Добавить категорию



							

							.col-auto
								button.btn.btn-primary(type="button"  data-bs-toggle="offcanvas"   data-bs-scroll="true" data-bs-target=`#offcanvasExample-add-product` aria-controls=`offcanvasExample-add-product`) Добавить товар
								.offcanvas.offcanvas-start(id=`offcanvasExample-add-product`  data-bs-scroll="true"  tabindex='-1' aria-labelledby=`offcanvasExample-add-product-Label`).text-start
									.offcanvas-header
										h4.offcanvas-title(id=`offcanvasExample-add-product-Label`) Добавление/редактирование товара
										button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
									.offcanvas-body
										p Название товара:
										+input()(value="Ролл жаренный с лососем")
										.row.mb-3.gx-1.align-item-center
											.col Фото товара:
											.col-auto
												button.btn.px-1
													img(src="img/edit.svg", alt="")
											.col-auto
												button.btn.px-1
													img(src="img/delete.svg", alt="")
											.col-auto

										div.mb-3( class="ratio" style="--bs-aspect-ratio: 66%; width: 300px").bg-wrap
											img(src="img/prod.jpeg", alt="").img-bg
										p Артикул товара:
										+input()(value="3242")
										p Цена товара:
										+input()(value="190 р.")
										p Описание товара:
										.input-wrap
											textarea.form-control
												| Состав:
												| рис, нори, лосоль, огурец свежий, сыр сливочный, кляр, сухари.
												| Вес: 270 гр.
										button.btn.btn-primary(type="button") Сохранить товар
							
									
							.col
								
								.input-group
									input.form-control(type='text' placeholder="Поиск по товарам" aria-label="Поиск по товарам" aria-describedby='button-addon2')
									button#button-addon2.btn.btn-primary(type='button') Найти
		else if menu=="promo" 
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand Акции ресторана (1)
					#navbarNav2.collapse.navbar-collapse
						form.row 
							.col-auto
								button.btn.btn-primary(type="button"  data-bs-toggle="offcanvas"   data-bs-scroll="true" data-bs-target=`#offcanvasExample-add-promo` aria-controls=`offcanvasExample-add-promo`) Добавить акцию

								.offcanvas.offcanvas-start(id=`offcanvasExample-add-promo` tabindex='-1' aria-labelledby=`offcanvasExample-add-promo-Label`).text-start
									.offcanvas-header
										h4.offcanvas-title(id=`offcanvasExample-add-promo-Label`) Добавление/редактирование акции
										button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
									.offcanvas-body
										.row.mb-3.gx-1.align-item-center
											.col Фото акции
											.col-auto
												button.btn.px-1
													img(src="img/edit.svg", alt="")
											.col-auto
												button.btn.px-1
													img(src="img/delete.svg", alt="") 

										div.mb-3()
											img.res-i(src="img/promo.jpeg", alt="")

										p Описание товара:
										.input-wrap
											textarea.form-control
												| Состав:
												| рис, нори, лосоль, огурец свежий, сыр сливочный, кляр, сухари.
												| Вес: 270 гр.
										button.btn.btn-primary(type="button") Сохранить
							.col
								.input-group
									input.form-control(type='text' placeholder="Поиск по акциям" aria-label="Поиск по акциям" aria-describedby='button-addon2')
									button#button-addon2.btn.btn-primary(type='button') Найти
		else if menu=="clients" 
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand Клиенты ресторана (987)
					#navbarNav2.collapse.navbar-collapse
						form.row 
							.col-auto
								button.btn.btn-primary(type="button"  data-bs-toggle="offcanvas"   data-bs-scroll="true" data-bs-target=`#offcanvasExample-message` aria-controls=`offcanvasExample-message`) Отправить сообщение
							.col
								 
								.input-group
									input.form-control(type='text' placeholder="Поиск по клиентам" aria-label="Поиск по клиентам" aria-describedby='button-addon2')
									button#button-addon2.btn.btn-primary(type='button') Найти
		else if menu
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand= menu
		else
			nav.navbar.navbar-light.navbar-expand
				.container-fluid.d-lg-flex.d-block
					.navbar-brand Все заказы (55) 
					#navbarNav2.collapse.navbar-collapse
						ul.navbar-nav.navbar-nav--color
							li.nav-item
								a.nav-link.active(aria-current='page' href='#') Все
							mixin a(a, c)
								li.nav-item: a.nav-link(href='#' style=`--color: var(${c})`)= a
							+a('Новый','--bs-danger')
							+a('Принят','--bs-warning')
							+a('В пути','--bs-primary')
							+a('Доставлен','--bs-success')
							+a('Архив','--bs-secondary')