
	// start .header
	.header {
		position: absolute;
		left: 0;
		top: 0;
		@include media-breakpoint-up(xl) {
			width: calc(100% - var(--spacing-end));
		}
		width: 100%;
		z-index: 4;

		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.header

.cabinet-btn{
	display: flex;
	align-items: center;
	&__img-wrap{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-right: 11px;
		flex: 0 0 auto;
	}
}